# Logs e arquivos de ambiente
.env
logs/
*.log

# Diretórios de build
target/
build/

# Ferramentas e IDEs
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Wrapper
!.mvn/wrapper/maven-wrapper.jar
